<!DOCTYPE html>
<html>
<head>
{{> "head"}}
</head>
<body>
<div id="page" class="hfeed site">
	<header id="masthead" class="site-header" role="banner" style="background-image: url({{assets "/img/header.jpg"}})">
		<button type="button" data-toggle="offcanvas" class="navbar-toggle" data-target=".navmenu" data-canvas="body">
			<span class="sr-only">Toggle Sidebar</span>
			<i class="fa fa-bars"></i>
		</button>
		<div class="site-title">
			<div class="site-title-inner">
				<a href="{{#if post.url}}{{post.url}}{{else}}{{site.url}}{{/if}}" rel="home" class="site-brand">
					{{#if site.logo}}
						<img title="{{site.name}}" src="{{site.logo}}">
					{{/if}}
					{{#if post}}
						<h1>{{post.title}}</h1>
					{{else}}
						<h1>{{site.name}}</h1>
					{{/if}}
					{{#if post}}
					<div class="entry-meta">
						<span class="posted-on">
							<a href="{{post.url}}">
								<time class="entry-date published updated">{{post.date}}</time>
							</a>
						</span>
					</div>
					{{else}}
					<p>{{site.description}}</p>
					{{/if}}
				</a>
			</div>
		</div>
		<div class="header-overlay" style="opacity: 0.3; background: #006cff"></div>
	</header>
	<div id="content-wrapper" class="site-content-wrapper">
		<div id="primary" class="content-area">
			{{{body}}}
			
			<footer id="colophon" class="site-footer" role="contentinfo">
				<div class="site-info">
					Copyright &copy; 2016 by <a href="https://github.com/oryc9x/">Oryc</a>
				</div>
				<a href="#primary" class="smooth-scroll back-to-top"><i class="fa fa-angle-up"></i></a>
			</footer>
		</div>
	</div>
	<div id="secondary" class="widget-area navmenu navmenu-inverse navmenu-fixed-left offcanvas" role="complementary">
		<aside class="widget widget_nav_menu">
			{{> "navigations"}}
		</aside>
	</div>
</div>	
{{> "footer"}}
</body>
</html>